
@font-face {
    font-family: 'Pixel';
    src: url('assets/PixelFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    background-color: gray;
    align-items: center;
}

#canvas {
    background-color: aqua;
    margin-top: 50px;
}

